.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		//- - var i = '01';
		- var imgClass = '';
		- var imgBoxClass ='';

		.cardFull-slider__item
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/article-img-02.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-02.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-12.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-03.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-07.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
						
				- var imgUrl = 'img/block-img-01.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-06.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-10.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

		.cardFull-slider__item
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-01.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-02.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-10.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-03.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-07.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)
						
				- var imgUrl = 'img/block-img-01.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_sm(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

			.article-imgwrap.article-imgwrap_slim
				- var imgUrl = 'img/block-img-06.jpg';
				.card__imgbox.card__imgbox_third.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)

				- var imgUrl = 'img/block-img-10.jpg';
				.card__imgbox.card__imgbox_twothird.card__imgbox_md(style='background-image:url('+imgUrl+')', class=imgBoxClass)
					img(src=imgUrl, alt="image", class=imgClass)