.card.cardFull.cardFull-slider
	.cardFull-slider-wrap.card-wrap.cardFull-wrap
		//- - var i = '01';
		- var imgClass = '';
		- var imgBoxClass ='';

		.cardFull-slider__item
			.card__imgwrap.card__imgwrap_slim
				- var items = ['03', '12', '01'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['06', '05', '04'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['09', '10', '07'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)

		.cardFull-slider__item
			.card__imgwrap.card__imgwrap_slim
				- var items = ['03', '12', '01'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['06', '05', '04'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['09', '10', '07'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)

		.cardFull-slider__item
			.card__imgwrap.card__imgwrap_slim
				- var items = ['03', '12', '01'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['06', '05', '04'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)
			.card__imgwrap.card__imgwrap_slim
				- var items = ['09', '10', '07'];
				each item in items
					- var imgUrl = 'img/block-img-'+item+'.jpg';
					.article-imgbox.article-imgbox_third(style='background-image: url('+imgUrl+')', class=imgBoxClass)
						img(src=imgUrl, class=imgClass)